@page "/"
@using GymVod.Battleships.Common

<h1>Pololetní projekt GymVod 2019/2020</h1>

<p>
    tato aplikace slouží jako podpora pro Vaše pololetní projekty.
</p>
<p>
    Vaším cílem je naprogramovat knihovnu, která bude implementovat předepsané rozhraní na známou hru <strong>lodě</strong>.
</p>
<p>
    Rozhraní má tři metody:
    <ul>
        <li>
            <strong>@nameof(IBattleshipsGame.NewGame)</strong> - herní engine zavolá tuto metodu při začátku nové hry.
            Vaším úkolem je rozmístění lodí, inicializace polí apod. Metoda je zavolána s argumentem typu @nameof(GameSettings),
            kde je určena velikost hracího pole a lodě, které máte rozmístit.
        </li>
        <li>
            <strong>@nameof(IBattleshipsGame.GetNextShotPosition)</strong> - metoda je zavolána v každém kole.
            Vaším úkolem je určit umístění, kam chcete provést další střelu. Metoda vrací datový typ @nameof(Position) s umístěním střely.
        </li>
        <li>
            <strong>@nameof(IBattleshipsGame.ShotResult)</strong> - metodu zavolá herní engine, aby informoval Vaši implementaci,
            zda jste svým výstřelem zasáhli/potopili nepřátelskou loď.
        </li>
    </ul>
</p>

<p>
    Pravidla hry:
    <ul>
        <li>Loď může být umístěna kdekoli na herním plánu, ale nemůže se dotýkat krajů.</li>
        <li>V případě, že rozmístění lodí při začátku hry není korektní, hráč automaticky prohrává.</li>
        <li>V případě, že střela je mimo hranice hracího pole, hráč automaticky prohrává.</li>
        <li>Pokud ve Vaší metodě vznikne neošetřená výjimka, hráč automaticky prohrává.</li>
        <li>Všechny Vaše metody by měly doběhnout do 1s. Momentálně na to není implementována kontrola, ale pokud s tím bude problém, hráč automaticky prohraje, pokud metoda poběží příliš dlouho.</li>
    </ul>
</p>

