@page "/tournaments"
@inherits Components.Pages.TournamentListComponent

<h1>Seznam turnajů</h1>

@foreach (var tournament in Tournaments)
{
    <h4>Turnaj @tournament.Created, @tournament.League</h4>
    <div class="form-group row">
        <label class="col-form-label col-sm-1">Počet her:</label>
        <label class="col-form-label col-sm-1">@tournament.GamesCount</label>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-1">Počet hráčů:</label>
        <label class="col-form-label col-sm-1">@tournament.Players.Count</label>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-10"><a href="/tournamentresult/@tournament.Id">Detaily turnaje</a></label>
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Pořadí</th>
                <th scope="col">Hráč</th>
                <th scope="col">Počet výher</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in tournament.Players)
            {
                <tr class="@GetCssClass(player)">
                    <td>@(player.Position).</td>
                    <td>@player.Name</td>
                    <td>@player.WonGamesCount</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
}
